div(data-section='course').section.section--course

  a(id='course', name='course').scroll-point
  
  .content-wrap
    h2.
      BED onset occurs later than other eating disorders
    
    p.sub-head.
      In a survey of US adults, the median age of onset #[nobr (21 years)] was #[span.yellow several years later] #[br.hide--mobile]than for #[br.hide--desktop]anorexia nervosa and bulimia nervosa (18 years).*#[sup 2]
    
    .graphic-container
      
      .twenty-one-animated.hide--mobile
        .animated-wrap
          .numbers-wrap
            div(
              data--50-bottom='transform: translate3d(597px,0px,0px)',
              data--25p-bottom='transform: translate3d(0px,0px,0px)'
            ).numbers
          .brackets
          div(
              data--25p-bottom='opacity: 0; transform: scale(0);',
              data--35p-bottom='opacity: 1; transform: scale(1);'
            ).copy

      p.twenty-one.hide--desktop
        img(src='img/course-21.png')
      
      .legend
        p.text.yellow.
          Age-of-onset ranges#[br]
          for AN, BN, and BED*#[sup 2]

        p.chart
          img(src='img/median-ages.png')

        p.text.footnote.
          #[span.yellow *Interquartile range.]#[br]
          AN=anorexia nervosa;#[br]
          BN=bulimia nervosa.

      p.mean-duration.
        The mean duration of BED is 8.1 years#[sup 2]

    
    h2.yellow.
      BED is associated with significant psychiatric comorbidity comparable to bulimia nervosa and anorexia nervosa#[sup 1]

    p.sub-head.
      Adults with BED often have coexisting bipolar, depressive, or anxiety disorders#[sup 1]
      
    p.yellow.center.no-padding.
      Lifetime comorbidity per DSM-IV in a nationally representative #[br.hide--mobile]survey of US adults aged ≥18 years*#[sup 2]:

    .eighty.graphic

      p(
        data-bottom-top='opacity: 0; transform: scale(0.5);',
        data--20p-bottom='opacity: 1; transform: scale(1);').large.yellow.
        79#[sup.percent %]

      p.
        met criteria for#[br]
        #[span.yellow at least 1 other]#[br]
        psychiatric disorder

      //-img()

    .forty-nine.graphic

      p(
        data-bottom-top='opacity: 0; transform: scale(0.5);',
        data--20p-bottom='opacity: 1; transform: scale(1);').large.yellow.
        49#[sup.percent %]

      p.
        met criteria for#[br]
        #[span.yellow 3 or more other]#[br]
        psychiatric disorders

    p.disclaimer.
      Data from an eating disorder–assessed subsample (n=2,980) of the National Comorbidity Survey Replication, a nationally representative face-to-face household survey of English-speaking adults #[br.hide--desktop] aged ≥18 years.#[sup 2]
