div(data-section='course').section.section--course

  a(id='course', name='course').scroll-point
  
  .content-wrap

    div('data-bottom-top'='opacity: 0; transform: translate3d(0px,-50px,0px)',
        'data-bottom-bottom'='opacity: 1; transform: translate3d(0px,0,0px)')
      h2.
        BED onset occurs later than other eating disorders
      
      p.sub-head.
        In a survey of US adults, the median age of onset #[nobr (21 years)] was #[span.yellow several years later] #[br.hide--mobile]than for anorexia nervosa and bulimia nervosa (18 years).*#[sup 2]
    
    .graphic-container
      
      h3.chart-head.hide--mobile.
        Age-of-onset ranges for BED, AN, and BN#[sup 2]


      .twenty-one-animated.hide--mobile
        .animated-wrap
          .numbers-wrap
            div(
              data--10p-bottom='transform: translate3d(732px,0px,0px)',
              data--25p-bottom='transform: translate3d(0px,0px,0px)'
            ).numbers
          .brackets
          div(
              data--20p-bottom='opacity: 0; transform: scale(0);',
              data--35p-bottom='opacity: 1; transform: scale(1);'
            ).copy

      p.twenty-one.hide--desktop
        img(src='img/course-21.png')
      
     


      .legend
        h3.chart-head.center.hide--desktop.
          Age-of-onset ranges#[br]
          for BED, AN, and BN#[sup 2]

        p.chart.hide--desktop
          img(src='img/median-ages.png')

        .median-ages.hide--mobile

        p.text.footnote.hide--desktop.
          Interquartile range.#[br]
          AN=anorexia nervosa;#[br]
          BN=bulimia nervosa.

      p.mean-duration.sub-head.
        The mean duration of BED is 8.1 years.#[sup 2]

    
    h2.yellow.
      BED is associated with significant psychiatric comorbidity comparable to bulimia nervosa and anorexia nervosa#[sup 1]

    p.sub-head.
      Adults with BED often have coexisting bipolar, depressive, or anxiety disorders.#[sup 1]
      
    h3.yellow.center.chart-head.
      Lifetime comorbidity per #[em DSM-IV]#[sup &reg;] in a nationally representative #[br.hide--mobile]survey of US adults aged ≥18 years*#[sup 2]:

    .eighty.graphic

      p(
        data-bottom-top='opacity: 0; transform: scale(0.5);',
        data--20p-bottom='opacity: 1; transform: scale(1);').large.yellow.
        79#[sup.percent %]

      p.
        met criteria for#[br]
        #[span.yellow at least 1 other]#[br]
        psychiatric disorder

      //-img()

    .forty-nine.graphic

      p(
        data-bottom-top='opacity: 0; transform: scale(0.5);',
        data--20p-bottom='opacity: 1; transform: scale(1);').large.yellow.
        49#[sup.percent %]

      p.
        met criteria for#[br]
        #[span.yellow 3 or more other]#[br]
        psychiatric disorders

    p.footnote.center.chart-footnote.
      *Data from an eating disorder–assessed subsample (n=2,980) of the National Comorbidity Survey Replication, a nationally representative face-to-face household survey of English-speaking adults #[br.hide--desktop] aged ≥18 years.#[sup 2]
