div(data-section='prevalence').section.section--prevalence 
  
  a(href='#prevalence').bar.bar--title.
    BED is the most common eating disorder
  
  a(id='prevalence',name='prevalence').scroll-point

  .content-wrap

    h1(data-skrollr="prevalence-header").
      BED affects nearly #[br.hide--desktop]3 million US adults*#[sup 2,3]

    div(data-skrollr="prevalence-map").us-graphic.graphic

    div(data-skrollr="prevalence-asterisk").asterisk.
      Estimated 12-month prevalence in National Comorbidity Survey Replication of US adults aged ≥18 years, extrapolated to full US population aged ≥18 years.#[sup 2-4]

    .blurb.
      BED is the most common eating disorder among US adults and more than twice as prevalent as bulimia nervosa and anorexia nervosa combined#[sup 2]

    p.gender-ratio.
      The gender ratio is far less skewed in BED than in bulimia nervosa#[sup 1,2]

    h3.
      12-month prevalence in US adults#[sup 2]:

    

    .male-female-graphic
      p(
        data-bottom-top='opacity: 0; transform: translate3d(0px,100px,0px)',
        data--30p-bottom='opacity: 1; transform: translate3d(0px,0px,0px)').
        #[span.yellow BED: 2 to 1]#[br]
        1.6% of women vs 0.8% of men
      p(
        data-bottom-top='opacity: 0; transform: translate3d(0px,100px,0px)',
        data--30p-bottom='opacity: 1; transform: translate3d(0px,0px,0px)').
        #[span.yellow Bulimia nervosa: 5 to 1]#[br]
        0.5% of women vs 0.1% of men

      .male-graphic.graphic(
        data-bottom-top='opacity: 0; transform: translate3d(500px,0px,0px)',
        data--30p-bottom='opacity: 1; transform: translate3d(0px,0,0px)')

      .female-graphic.graphic(
        data-bottom-top='opacity: 0; transform: translate3d(-500px,0px,0px)',
        data--30p-bottom='opacity: 1; transform: translate3d(0px,0,0px)')


    //-.male-female-graphic.graphic
        
    .comparable

      h2.
        There are comparable prevalence rates among non-Latino white #[span.percent (1.4%)], Latino #[span.percent (2.1%)], Asian #[span.percent (1.2%)], and African American #[span.percent (1.5%)] adults in the US#[sup †4]

      .patients-graphic.graphic

      p.dagger.
        Sample from a combined data set of 3 nationally representative US samples.#[sup 4]

    p.frequencies.
      BED occurs with roughly similar frequencies in most industrialized countries (eg, Australia, Canada, #[br.hide--mobile]many European countries, New Zealand, and the United States)#[sup 1]


    .blurb-2.
      In an on-line survey, only 3% of US adults who met #[em DSM-5]® criteria for BED reported being diagnosed with BED by a healthcare provider in the past 12 months.#[sup 5]

    .footnote.
      Data from a 2013 online survey of adults ≥18 years (Validate Attitudes and Lifestyle Issues in Depression ADHD and Troubles with Eating [VALIDATE]). 344 of 22,397 respondents met DSM-5 criteria for BED in the previous 12 months (a 12-month prevalence estimate of 1.64% of the total US adult population.#[sup 5]
