
.signup-container._is_open
  .close

  h2.
    Sign up to receive informative BED content and updates from Shire.

  p.required-fields.
    #[span.red *]Required Fields

  input(
    type='text',
    name='firstName',
    placeholder='*First Name',
    class='first-name')

  input(
    type='text',
    name='middleInitial',
    placeholder='MI',
    class='middle-initial')

  input(
    type='text',
    name='lastName',
    placeholder='*Last Name',
    class='last-name')

  input(
    type='text',
    name='email',
    placeholder='*Email',
    class='email')

  input(
    type='text',
    name='email2',
    placeholder='*Re-enter Email',
    class='email2')

  input(
    type='text',
    name='streetAddress',
    placeholder='*Street Address',
    class='street-address')

  input(
    type='text',
    name='suiteOffice',
    placeholder='Suite/Office',
    class='suite-office')

  input(
    type='text',
    name='city',
    placeholder='*City',
    class='city')

  select(
    name='state',
    class='state')
    option(
      value='*State').
        *State

  input(
    type='text',
    name='zip',
    placeholder='*Zip',
    class='zip')

  select(
    name='profession',
    class='profession')
    option(value='*Profession').
      *Profession
    option(value='eating-disorder-clinician').
      Eating Disorder Clinician
    option(value='internal-medicine').
      Internal Medicine
    option(value='primary-care-physician').
      Primary Care Physician
    option(value='psychiatrist').
      Psychiatrist
    option(value='psychologist').
      Psychologist



  h3.
    Opt In for Communications


  input(
    type='checkbox',
    name='optin',
    class='optin',
    id='optin')

  label(for='optin', class='optin-label')
    p.
      By checking this box and clicking submit, you certify that you are a US health care professional and you are opting to receive information about binge eating disorder plus product information, site updates, educational information, patient support resources, and other information from Shire. You will be able to opt out of these communications at any time.
    p.
      Shire respects your personal information. All information you have provided will be kept confidential and will not be used or distributed to anyone for any purpose other than what is explained in our Privacy Policy Statement. We encourage you to read our Privacy Policy Statement by clicking on this link: Review Shire Privacy Policy Statement. This consent will be in effect until such time as you opt out of the program.



  input(
    type='submit',
    name='submit',
    value='SUBMIT',
    class='submit')