---
---
extends /layouts/base

block content
  
  div(ng-controller='UnsubscribeController').ng-cloak.unsubscribe

    .content-wrap

      form(
        id="bed_form",
        name="bed_form",
        ng-submit="unsubscribe()",
        autocomplete="offs",
        novalidate)

        h1.
          Unsubscribe
        p.
          To unsubscribe from future communications, please select an option below, fill in the required fields, and click Submit.

        .opt-out-choice
          p.form-line
            //- ids only included to work with labels' for attribute.  No styles depend on id.
            input(
              type='radio',
              name='unsubscribe',
              value='email',
              ng-model="form.optoutchoice",
              ng-change='invalidform = false',
              id='emailRadio')
            label(
              for='emailRadio').
                I would like to opt out of future BED #[nobr e-mail] communications.
          p.form-line
            input(
              type='radio',
              name='unsubscribe',
              value='direct',
              ng-model="form.optoutchoice",
              ng-change='invalidform = false',
              id='directRadio')
            label(
              for='directRadio').
                I would like to opt out of future BED direct mail communications.

          p.form-line
            input(
              type='radio',
              name='unsubscribe',
              value='both',
              ng-model="form.optoutchoice",
              ng-change='invalidform = false',
              id='bothRadio')
            label(
              for='bothRadio').
                I would like to opt out of all future Shire communications.

        
        .required-fields
          p(
            ng-if='form.optoutchoice != "none"').
            #[span.red *]Required Fields

          //- The placeholders used below cannot be styled.  These will need to be replaced.
          .email(
              ng-if='form.optoutchoice == "email" || form.optoutchoice == "both"')
            input(
              type='text',
              name='email',
              placeholder='*E-mail',
              ng-model="form.email",
              ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/",
              ng-class="{forminvalid: (bed_form.email.$invalid && bed_form.email.$dirty) || (bed_form.email.$invalid && invalidform)}",
              ng-required="true",
              class='email')
          .address(
            ng-if='form.optoutchoice == "direct" || form.optoutchoice == "both"')
            input(
              type='text',
              name='firstName',
              placeholder='*First Name',
              ng-model="form.fname",
              ng-required="true",
              ng-class="{forminvalid: (bed_form.firstName.$invalid && bed_form.firstName.$dirty) || (bed_form.firstName.$invalid && invalidform)}",
              class='first-name')

            input(
              type='text',
              name='middleInitial',
              placeholder='MI',
              ng-model="form.MI",
              ng-pattern="/^[a-zA-Z]$/",
              size="1",
              max-length="1",
              class='middle-initial')

            input(
              type='text',
              name='lastName',
              placeholder='*Last Name',
              ng-model="form.lname",
              ng-required="true",
              ng-class="{forminvalid: (bed_form.lastName.$invalid && bed_form.lastName.$dirty) || (bed_form.lastName.$invalid && invalidform)}",
              class='last-name')

            input(
              type='text',
              name='streetAddress',
              placeholder='*Street Address',
              ng-model="form.street",
              ng-required="true",
              ng-class="{forminvalid: (bed_form.streetAddress.$invalid && bed_form.streetAddress.$dirty) || (bed_form.streetAddress.$invalid && invalidform)}",
              class='street-address')

            input(
              type='text',
              name='suiteOffice',
              placeholder='Suite/Office',
              ng-model="form.suite",
              ng-required="false",
              class='suite-office')

            input(
              type='text',
              name='city',
              placeholder='*City',
              ng-model="form.city",
              ng-required="true",
              ng-class="{forminvalid: (bed_form.city.$invalid && bed_form.city.$dirty) || (bed_form.city.$invalid && invalidform)}",
              class='.city')

            select(
              name='state',
              class='state',
              ng-model="form.state",
              ng-options="state for state in states",
              ng-class="{forminvalid: (bed_form.state.$invalid && bed_form.state.$dirty) || (bed_form.state.$pristine && invalidform)}",
              ng-required="true")
                option(
                  value='',
                  ng-selected='true').
                    *State

            input(
              type='text',
              name='zip',
              placeholder='*Zip',
              ng-model="form.zip",
              ng-pattern="/^[0-9]{5}$/",
              ng-required="true",
              maxlength=5,
              ng-class="{forminvalid: (bed_form.zip.$invalid && bed_form.zip.$dirty) || (bed_form.zip.$invalid && invalidform)}",
              class='zip')

          input(
            type='submit',
            name='submit',
            value='SUBMIT',
            ng-if='form.optoutchoice != "none"',
            class='submit')



