div(
  data-section='dsm5'
  ).section.section--dsm5

  a(
    id='dsm5',
    name='dsm5',
    href='#dsm5'
    ).bar.bar--title.
    The #[em DSM-5#[sup &reg;]] criteria

  .content-wrap
    
    h2.
      Essential features #[br.mobile]of binge eating disorder

    p.sub-head.
      In order to be diagnosed with BED, an individual must meet all #[br.hide--small]of the following DSM-5#[sup ®] diagnostic criteria:

    h3.
     #[em DSM-5#[sup ®]] diagnostic criteria#[sup 1]:
    ol.letter
      li
        | Recurrent episodes of binge eating. An episode of #[br.hide--small]binge eating is characterized by both of the following:
        ol.number
          li.
            Eating, in a discrete period of time (e.g., within any #[br.hide--small]2-hour period), an amount of food that is definitely #[br.hide--small]larger than what most people would eat in a similar #[br.hide--small]period of time under similar circumstances. 
          li.
            A sense of lack of control over eating during the #[br.hide--small]episode (e.g., a feeling that one cannot stop eating or #[br.hide--small]control what or how much one is eating). 
      li
        | The binge-eating episodes are associated with three #[br.hide--small](or more) of the following:
        ol.number
          li.
            Eating much more rapidly than normal.
          li.
            Eating until feeling uncomfortably full.
          li.
            Eating large amounts of food when not feeling #[br.hide--small]physically hungry.
          li.
            Eating alone because of feeling embarrassed by #[br.hide--small]how much one is eating.
          li.
            Feeling disgusted with oneself, depressed, or #[br.hide--small]very guilty afterward.
      li.
        Marked distress regarding binge eating is present.
      li.
        Episodes occur, on average, at least once a week for 3 months.
      li.
        Not associated with inappropriate compensatory behavior such as purging #[br.hide--small]or excessive exercise.

    p.disclaimer
      em.
        Diagnosis should be based upon a #[br.hide--medium.hide--large]complete evaluation of the patient.

    a(
      target="_blank",
      href='#'
      ).pdf-link
      span.
        #[em DSM-5#[sup &reg;]] Criteria

    .tab-container
      .tab-inner
        h3.
          What does BED feel like?
        p.
          As stated in the DSM-5, BED binges are characterized by “a sense of lack of control over eating” and “marked distress,” and adults with BED typically experience binge-related embarrassment, depression, self-disgust, and guilt. Adults with moderate, severe, or extreme BED may have these negative feelings every day, or even several times a day. No one wants to experience embarrassment, depression, self-disgust, and guilt on a consistent basis. Identifying and accurately diagnosing BED may be the first step to helping them feel better.
        //- h3.
          What is a large amount of food?
        //- p.
          The amount of food may not be particularly meaningful when considering binge eating:
        //- ul.bullet
          li.first.
            Typical binges are often in the range of 2,000 to 5,000 calories#[sup 24]
          li.second.
            But whether any binge is objectively or subjectively defined as “large” may not matter because in either case the individual feels a loss of control and marked distress#[sup 25]
      .closed-text.
        What does #[br.hide--small]BED feel like?



