div(
  data-section='dsm5'
  ).section.section--dsm5

  a(
    id='dsm5',
    name='dsm5',
    href='#dsm5'
    ).bar.bar--title.
    The #[em DSM-5#[sup &reg;]] criteria

  .content-wrap
    
    h2.
      Essential features of binge eating disorder

    p.sub-head.
      In order to be diagnosed with BED, an individual must meet all of the following DSM-5 diagnostic criteria:

    h3.
      Diagnostic criteria#[sup 1]:
    ol.letter
      li
        | Recurrent episodes of binge eating. An episode of binge eating is characterized by both of the following:
        ol.number
          li.
            Eating, in a discrete period of time (e.g., within any 2-hour period), an amount of food that is definitely larger than what most people would eat in a similar period of time under similar circumstances. 
          li.
            A sense of lack of control over eating during the episode (e.g., a feeling that one cannot stop eating or control what or how much one is eating). 
      li
        | The binge-eating episodes are associated with three (or more) of the following:
        ol.number
          li.short.
            Eating much more rapidly than normal.
          li.short.
            Eating until feeling uncomfortably full.
          li.short.
            Eating large amounts of food when not feeling physically hungry.
          li.
            Eating alone because of feeling embarrassed by how much one is eating.
          li.
            Feeling disgusted with oneself, depressed, or very guilty afterward.
      li.
        Marked distress regarding binge eating is present.
      li.
        Episodes occur, on average, at least once a week for 3 months.
      li.
        Not associated with inappropriate compensatory behavior such as purging or excessive exercise.

    p.disclaimer
      em.
        Diagnosis should be based upon a complete evaluation of the patient.

    a(
      target="_blank",
      href='#'
      ).pdf-link
      span
        #[i DSM-5#[sup &reg;]] Criteria

    .tab-container
      .tab-inner
        h3.
          What is a large amount of food?
        p.
          The amount of food may not be particularly meaningful when considering binge eating:
        ul.bullet
          li.first.
            Typical binges are often in the range of 2,000 to 5,000 calories#[sup 24]
          li.second.
            But whether any binge is objectively or subjectively defined as “large” may not matter because in either case the individual feels a loss of control and marked distress#[sup 25]
    .closed-text.
      What is a large amount of food?