div(data-direction='right', ng-controller='OptInController').signup-container.slideout.slideout--signup
  .slideout__inner
    .close

    h2.
      Sign up to instantly receive the #[br.hide--desktop]#[br.hide--mobile]#[em DSM-5]#[sup ®] diagnostic criteria for Binge Eating Disorder and other BED content from Shire.

    p.required-fields.
      #[span.blue #[em All fields are required in the below form]]

    form(
      name='bed_form',
      id='bed_form',
      ng-submit="optIn()",
      autocomplete='off',
      novalidate)
      input(
        type='text',
        name='firstName',
        placeholder='First Name',
        ng-model='form.fname',
        ng-required='true',
        ng-class="{forminvalid: (bed_form.firstName.$invalid && bed_form.firstName.$dirty) || (bed_form.firstName.$invalid && invalidform)}",
        class='first-name')

      //- input(
      //-   type='text',
      //-   name='middleInitial',
      //-   placeholder='MI',
      //-   ng-model='form.MI'
      //-   ng-required='false',
      //-   maxlength='1',
      //-   class='middle-initial')

      input(
        type='text',
        name='lastName',
        placeholder='Last Name',
        ng-model='form.lname',
        ng-required='true',
        ng-class="{forminvalid: (bed_form.lastName.$invalid && bed_form.lastName.$dirty) || (bed_form.lastName.$invalid && invalidform)}",
        class='last-name')

      input(
        type='text',
        name='email',
        placeholder='E‐mail',
        ng-model='form.email',
        ng-required='true',
        ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+$/",
        ng-class="{forminvalid: (bed_form.email.$invalid && bed_form.email.$dirty) || (bed_form.email.$invalid && invalidform)}",
        class='email')

      input(
        type='text',
        name='email2',
        ng-model='form.confirmemail',
        ng-required='true',
        ui-validate=" '$value==form.email' ",
        ui-validate-watch=" 'form.email' ",
        placeholder='Re-enter E‐mail',
        ng-class="{forminvalid: (bed_form.email2.$invalid && bed_form.email2.$dirty) || (bed_form.email2.$invalid && invalidform)}",
        class='email2')

      //- input(
      //-   type='text',
      //-   name='streetAddress',
      //-   placeholder='*Street Address',
      //-   ng-model='form.street',
      //-   ng-required='true',
      //-   ng-class="{forminvalid: (bed_form.streetAddress.$invalid && bed_form.streetAddress.$dirty) || (bed_form.streetAddress.$invalid && invalidform)}",
      //-   class='street-address')

      //- input(
      //-   type='text',
      //-   name='suiteOffice',
      //-   placeholder='Suite/Office',
      //-   ng-model='form.suite',
      //-   ng-required='false',
      //-   class='suite-office')

      //- input(
      //-   type='text',
      //-   name='city',
      //-   placeholder='*City',
      //-   ng-model='form.city',
      //-   ng-required='true',
      //-   ng-class="{forminvalid: (bed_form.city.$invalid && bed_form.city.$dirty) || (bed_form.city.$invalid && invalidform)}",
      //-   class='city')

      //- select(
      //-   name='state',
      //-   class='state',
      //-   ng-model="form.state",
      //-   ng-required='true',
      //-   stateselect,
      //-   ng-class="{forminvalid: (bed_form.state.$invalid && bed_form.state.$dirty) || (bed_form.state.$pristine && invalidform)}",
      //-   ng-options="state for state in states")

      //- input(
      //-   type='text',
      //-   name='zip',
      //-   placeholder='*Zip',
      //-   ng-model="form.zip",
      //-   ng-pattern="/^[0-9]{5}$/",
      //-   maxlength=5,
      //-   ng-required='true',
      //-   ng-class="{forminvalid: (bed_form.zip.$invalid && bed_form.zip.$dirty) || (bed_form.zip.$invalid && invalidform)}",
      //-   class='zip')

      //- select(
      //-   name='profession',
      //-   class='profession',
      //-   ng-model='form.profession',
      //-   ng-required='true',
      //-   profselect,
      //-   ng-class="{forminvalid: (bed_form.profession.$invalid && bed_form.profession.$dirty) || (bed_form.profession.$pristine && invalidform)}",
      //-   ng-options='prof for prof in professions')



      h3.
        Opt In for Communications

      div(
        ng-class="{forminvaliddiv: (bed_form.optin.$invalid && bed_form.optin.$dirty) || (bed_form.optin.$pristine && invalidform)}").check-wrap
        input(
          type='checkbox',
          name='optin',
          class='optin',
          ng-model='form.checkbox',
          ng-required='true',
          id='optin')

      label(for='optin', class='optin-label')
        p.
          By checking this box and clicking submit, you certify that you are a US health care professional and you are opting to receive information about binge eating disorder plus site updates, educational information, patient support resources, and other information from Shire. You will be able to opt out of these communications at any time.
      
      p(class='optin-privacy').
          Shire respects your personal information. All information you have provided will be kept confidential and will not be used or distributed to anyone for any purpose other than what is explained in our Privacy Policy Statement. We encourage you to read our Privacy Policy Statement by clicking on this link: #[a(href='/privacy-policy.html', target='_blank') Review Shire Privacy Policy Statement]. This consent will be in effect until such time as you opt out of the program.

      input(
        type='submit',
        name='submit',
        value='SUBMIT',
        class='submit')
