div(data-direction='right', ng-controller='OptInController').signup-container.slideout.slideout--signup
  .slideout__inner(ng-hide="regComplete")
    .close
    h2.
      Sign up to instantly #[br.hide--desktop]receive the #[br.hide--mobile]#[em DSM-5]#[sup &reg;] diagnostic criteria for #[br.hide--desktop]binge  #[br.hide--mobile]eating disorder #[br.hide--desktop]and other BED#[br.hide--mobile] content#[br.hide--desktop] from Shire.

    p.required-fields.
       #[em All fields are required in the below form.]

    form(
      name='bed_form',
      id='bed_form',
      ng-submit="optIn()",
      autocomplete='off',
      novalidate)
      input(
        type='text',
        name='firstName',
        placeholder='First Name',
        ng-model='form.fname',
        ng-required='true',
        ng-class="{forminvalid: (bed_form.firstName.$invalid && bed_form.firstName.$dirty) || (bed_form.firstName.$invalid && invalidform)}",
        class='first-name')


      input(
        type='text',
        name='lastName',
        placeholder='Last Name',
        ng-model='form.lname',
        ng-required='true',
        ng-class="{forminvalid: (bed_form.lastName.$invalid && bed_form.lastName.$dirty) || (bed_form.lastName.$invalid && invalidform)}",
        class='last-name')

      input(
        type='text',
        name='email',
        placeholder='E‐mail',
        ng-model='form.email',
        ng-required='true',
        ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+$/",
        ng-class="{forminvalid: (bed_form.email.$invalid && bed_form.email.$dirty) || (bed_form.email.$invalid && invalidform)}",
        class='email')

      input(
        type='text',
        name='email2',
        ng-model='form.confirmemail',
        ng-required='true',
        ui-validate=" '$value.toUpperCase() == form.email.toUpperCase()' ",
        ui-validate-watch=" 'form.email' ",
        placeholder='Re-enter E‐mail',
        ng-class="{forminvalid: (bed_form.email2.$invalid && bed_form.email2.$dirty) || (bed_form.email2.$invalid && invalidform)}",
        class='email2')


      h3.
        Opt In for #[br.hide--desktop] Communications

      div(
        ng-class="{forminvaliddiv: (bed_form.optin.$invalid && bed_form.optin.$dirty) || (bed_form.optin.$pristine && invalidform)}").check-wrap
        input(
          type='checkbox',
          name='optin',
          class='optin',
          ng-model='form.checkbox',
          ng-required='true',
          id='optin')
        
      label(for='optin', class='optin-label')
        p.
          By checking this box and clicking submit, you certify that you are a US health care professional and you are opting to receive information about binge eating disorder plus site updates, educational information, patient support resources, and other information from Shire. You will be able to opt out of these communications at any time.
      
      p(class='optin-privacy').
          Shire respects your personal information. All information you have provided will be kept confidential and will not be used or distributed to anyone for any purpose other than what is explained in our Privacy Policy Statement. We encourage you to read our Privacy Policy Statement by clicking on this link: #[a(href='/hcp/privacy-policy.html', target='_blank') Review Shire Privacy Policy Statement]. This consent will be in effect until such time as you opt out of the program.

      p.error-message(ng-show="invalidform")
        | Please review the errors above before continuing.

      
      .processing-gif(ng-show="processing")

      input(
        ng-class='{disabled: submitted}',
        type='submit',
        name='submit',
        value='SUBMIT',
        class='submit')


  .slideout__inner(ng-show="regComplete")
    .close
    h2 Thank you for signing up.
    p.optin-privacy Your download of the #[em DSM-5]#[sup &reg;] diagnostic criteria for BED is now available. You will also receive an#[br]e-mail shortly with a link to download the PDF.
    .dsm5-book
    .download(ng-click="toDSM5()") DOWNLOAD NOW
