---
---
extends /layouts/base

block content
  .unsubscribe
    .content-wrap
      h1.
        Unsubscribe
      p.
        To unsubscribe from future communications, please select an option below, fill in the required fields, and click Submit.

      .opt-out-choice
        p.form-line
          //- ids only included to work with labels' for attribute.  No styles depend on id.
          input(
            type='radio',
            name='unsubscribe',
            value='email'
            id='emailRadio')
          label(
            for='emailRadio').
              I would like to opt out of future BED email communication.
        p.form-line
          input(
            type='radio',
            name='unsubscribe',
            value='direct',
            id='directRadio')
          label(
            for='directRadio').
              I would like to opt out of future BED direct mail communication.

        p.form-line
          input(
            type='radio',
            name='unsubscribe',
            value='both',
            id='bothRadio')
          label(
            for='bothRadio').
              I would like to opt out of all future Shire communication.

      
      .required-fields
        p.
          #[span.red *]Required Fields

        //- The placeholders used below cannot be styled.  These will need to be replaced.
        input(
          type='text',
          name='email',
          placeholder='*Email',
          class='email')

        input(
          type='text',
          name='firstName',
          placeholder='*First Name',
          class='first-name')

        input(
          type='text',
          name='middleInitial',
          placeholder='MI',
          class='middle-initial')

        input(
          type='text',
          name='lastName',
          placeholder='*Last Name',
          class='last-name')

        input(
          type='text',
          name='streetAddress',
          placeholder='*Street Address',
          class='street-address')

        input(
          type='text',
          name='suiteOffice',
          placeholder='Suite/Office',
          class='suite-office')

        input(
          type='text',
          name='city',
          placeholder='*City',
          class='.city')

        input(
          type='text',
          name='state',
          placeholder='*State',
          class='state')

        select(
          name='state',
          class='state')
          option(
            value='*State').
              *State


        input(
          type='text',
          name='zip',
          placeholder='*Zip',
          class='zip')

        input(
          type='submit',
          name='submit',
          value='SUBMIT',
          class='submit')



