---
title: "Functional Consequences of Binge Eating Disorder in Adults"
description: ""
keywords: ""
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    section.section--
        .wrap--content

            h1.
                Binge eating disorder (!{BED}) is associated with a range of functional consequences#[sup 1]

            ul.square
                li.
                    Problems with adapting to social roles
                li.
                    Quality of life and life satisfaction degradation due to health issues
                li.
                    Heightened medical mortality and morbidity
                li.
                    Heightened use of health care resources compared to BMI-matched controls
                li.
                    Potential for weight gain that could lead to obesity

    section.section--
        .wrap--content

            h2.
                !{BED} association with impaired role functioning in adults (Sheehan Disability Scale)*#[sup 2]

            .charts
                .chart
                    .num.
                        ≈63%
                    .text.
                        reported functional impairment during the past year
                .chart
                    .num.
                        ≈19%
                    .text.
                        reported severe impairment during the past year

            h2.
                The Sheehan Disability Scales were administered to assess the severity of recent episodes of disordered eating.

            p.footnote.
                *Data are from an eating disorder–assessed subsample (n=2,980) of the National Comorbidity Survey Replication, a nationally representative face-to-face household survey of English-speaking adults aged ≥18 years.#[sup 2]

    section.section--
        .wrap--content

            h1.
                Living with !{BED}: What it felt like to one adult patient

            h2.
                Excerpts from an interview with Sunny Sea Gold

            blockquote.
                During a binge, I would often eat really, really fast. My binges would always happen when I was alone.
            .listen.
                Listen to the extended excerpt

            blockquote.
                When I first realized there was something wrong, it was terrifying to admit that to anyone, even a professional.
            .listen.
                Listen to the extended excerpt


            a(href="#needurl").
                GET THE FULL !{DSM5} !{BED} CRITERIA

            ol.refs.number
                li.
                    American Psychiatric Association. Binge-eating disorder. In: Diagnostic and Statistical Manual of Mental Disorders. 5th ed. Arlington, VA: American Psychiatric Association; 2013:350-353.
                li.
                    Hudson JI, Hiripi E, Pope HG Jr, Kessler RC. [Published correction appears in Biol Psychiatry. 2012;72(2):164.] Biol Psychiatry. 2007;61(3):348-358.
