---
title: "Functional Consequences of Binge Eating Disorder in Adults"
description: ""
keywords: ""
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    section.section--associated
        .wrap--content

            h1.heading--1
                | Binge eating disorder (!{BED}) is associated with a range of functional consequences#[sup 1]

            ul.square.line
                li
                    | Problems with adapting to social roles
                li
                    | Quality of life and life satisfaction degradation due to health issues
                li
                    | Heightened medical mortality and morbidity
                li
                    | Heightened use of health care resources compared to BMI-matched controls
                li
                    | Potential for weight gain that could lead to obesity

    section.section--association
        .wrap--content

            h2.heading--2.
                !{BED} association with impaired role functioning in #[br.hide--sm]adults (Sheehan Disability Scale)*#[sup 2]

            .charts
                .chart.sixty-three
                    .num.
                        ≈63%
                    .text
                        | reported functional
                        br
                        | impairment during the
                        br
                        | past year
                .chart.nineteen
                    .num.
                        ≈19%
                    .text
                        | reported #[em severe]
                        br
                        | impairment during the
                        br
                        | past year

            h2.heading--2.
                The Sheehan Disability Scales were administered to assess the severity of recent episodes of disordered eating.

            p(data-note="*").footnote.
                Data are from an eating disorder–assessed subsample (n=2,980) of the National Comorbidity Survey Replication, a nationally representative face-to-face household survey of English-speaking adults aged ≥18 years.#[sup 2]

    section.section--living
        .wrap--content

            h1.heading--1.
                Living with !{BED}: What it felt like to one adult patient

            h2.heading--2.
                Excerpts from an interview with Sunny Sea Gold

            .sunny.hide--lg.hide--md

            .excerpt.one

                blockquote
                    p.
                        During a binge, I would often eat really, really fast. My binges would always happen when I was alone.
                .listen.
                    Listen to the extended excerpt

            .sunny.hide--md.hide--sm

            .excerpt.two

                blockquote
                    p.
                        When I first realized there was something wrong, it was terrifying to admit that to anyone, even a professional.
                .listen.
                    Listen to the extended excerpt

            .sunny.hide--lg.hide--sm

            .center
                a(href="#needurl").btn.btn--yellow
                    | GET THE FULL !{DSM5} !{BED} CRITERIA

        .wrap--refs
            ol.refs.number
                li.
                    American Psychiatric Association. Binge-eating disorder. In: Diagnostic and Statistical Manual of Mental Disorders. 5th ed. Arlington, VA: American Psychiatric Association; 2013:350-353.
                li.
                    Hudson JI, Hiripi E, Pope HG Jr, Kessler RC. [Published correction appears in Biol Psychiatry. 2012;72(2):164.] Biol Psychiatry. 2007;61(3):348-358.
