---
title: "Helping Adults with Binge Eating Disorder"
description: ""
keywords: ""
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    section.section--patients
        .wrap--content

            h1.heading--1.
                How adult patients with binge eating disorder (!{BED}) may present&mdash;and tools to help when they do

            .persons
                a(href="profiles.aspx#kimberly").person.kimberly
                a(href="profiles.aspx#nikki").person.nikki
                a(href="profiles.aspx#julie").person.julie
                a(href="profiles.aspx#diego").person.diego

            .callouts

                .callout.one

                    h2.heading--2.bold.
                        Screening the patient
                    p.
                        Use this validated screener to help evaluate adult patients you suspect may have !{BED}
                    a(href="#needurl").btn.btn--yellow
                        | DOWNLOAD THE ADULT !{BED} PATIENT SCREENER

                .callout.two

                    h2.heading--2.bold.
                        Conducting a conversation
                    p.
                        Use this discussion guide to help begin a dialogue about !{BED} with your adult patients.
                    a(href="#needurl").btn.btn--yellow
                        | DOWNLOAD THE DISCUSSION GUIDE FOR ADULT PATIENTS WITH !{BED}

            p.disclaimer
                | These tools were developed by Shire to assist health care professionals in identifying and accurately diagnosing B.E.D. in adults.
