---
title: "HCP Information on Binge Eating Disorder in Adults"
description: "Find info on binge eating disorder in adults, including diagnostic criteria, distinction from other eating disorders, prevalence, and possible causes."
keywords: ""
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    section.section--hero

        .hero(hero-player="",alt="Binge eating disorder in adults")

            .player

                .color

                .video
                    video(
                        id='videoPlayer'
                        controls='controls',
                        reload='none')

                        source(
                            type='video/mp4')

                .still
                    p.hypothetical.hide--lg
                        | Hypothetical patient portrayal.
            .copy

                .wrap--content

                    p.eyebrow.
                        Binge eating disorder (!{BED}) is a #[br.mobile-break]
                        cycle of...

                    h1.heading--1.yellow.
                        Binge. Distress. Repeat.#[sup 1]

                    p.
                        In 2013, the American Psychiatric Association recognized !{BED} as a distinct eating disorder. !{BED} is defined as recurring episodes (on average, &ge;1 episode per week for at least 3 months) of consuming a large amount of food in a short time compared with others, a feeling of lack of control during a binge, and marked distress over binge eating. Patients also typically experience shame and guilt about their bingeing, among other symptoms.#[sup 1]
                    
                    p.depiction.hide--sm.hide--md.
                        Hypothetical patient portrayal.
            .callouts

                .wrap--content

                    a(href="/hcp/dsm5-criteria.aspx").cta1

                        h4.heading--4
                            | Know the 
                            span.roman DSM-5
                                sup &reg; 
                            | criteria

                        .icon.is--hc

                    a(href="/hcp/patient-demographics.aspx").cta2
                        
                        h4.heading--4
                            | See the statistics

                        .icon.is--hc

                    a(href="/hcp/patient-profiles.aspx").cta3
                        
                        h4.heading--4
                            | Help your adult patients

                        .icon.is--hc


    section.section--refs

        .wrap--refs
            ol.refs.number
                li.
                    American Psychiatric Association. Binge eating disorder. In: #[em Diagnostic and Statistical Manual of Mental Disorders.] 5th ed. Arlington, VA: American Psychiatric Association; 2013:350-353.
