---
title: "Prevalence of Binge Eating Disorder in Adults"
description: ""
keywords: ""
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    section.section--us
        .wrap--content

            h1.heading--1
                | Binge eating disorder
                br.mobile-break
                | (!{BED}) is the most 
                br.mobile-break
                | common 
                br.desktop-break
                | eating disorder
                br.mobile-break
                | among US adults*
                sup 1
            h2.heading--2.
                It is more prevalent than bulimia nervosa and anorexia nervosa combined*#[sup 1,2]

            .statistics
                .map
                    .num.
                        &asymp;2.8 million
                    .stat.
                        US adults have !{BED}#[sup &dagger;1-3]
               

            p(data-note="").footnote
                | *Estimated 12-month and lifetime prevalence among an eating disorder&ndash;assessed subsample #[br](n=2,980) of the National Comorbidity Survey Replication, a nationally representative face-to-face #[br]household survey of English-speaking adults aged &ge;18 years.

            p(data-note="").footnote
                sup &dagger;
                | Estimated 12-month prevalence in National Comorbidity Survey Replication of US adults aged &ge;18 #[br]years, extrapolated to full US population aged &ge;18 years.#[sup 1-3]

    section.section--survey

        .wrap--content

            h1.heading--1.
                A separate online survey of 22,397 US adults showed that&#8230;

            h2.heading--2
                | of the 344 who met 
                em DSM-5#[sup &reg;] 
                |  diagnostic criteria for !{BED} in the past 12 months (level of severity not specified):

            p
                span.stat
                    span.percent
                        | 3.2#[sup %]
                    span.total
                        |  (11 of 344)
                span.text reported ever receiving a diagnosis of #[span.yellow !{BED}] by a health care provider#[sup &Dagger;4]
            p(data-note-sup="").footnote
                sup &Dagger;
                | Data from a 2013 online survey of US adults aged &ge;18 years.#[sup 4]

    section.section--ratio
        .wrap--content

            .row.two-to-one

                h1.heading--1.
                    The gender ratio is less skewed in !{BED} than in bulimia nervosa#[sup 1,5]

                .center
                    h2.heading--2
                        .estimated
                            | #[em.ratio 2:1] Estimated 12-month prevalence of #[span.yellow !{BED}] in US adults#[sup &sect;]:
                        .versus
                            | #[span.percent 1.6%] &nbsp;of women #[span.vs &nbsp;vs&nbsp;] #[span.percent 0.8%] &nbsp;of men

                //- .icon

            .row.five-to-one

                //- h1.heading--1.
                    than in bulimia nervosa#[sup 1,5]

                .center
                    h2.heading--2
                        .estimated
                            | #[em.ratio 5:1] Estimated 12-month #[br.hide--lg.hide--md]prevalence of #[span.yellow bulimia nervosa] in US adults#[sup &sect;]:
                        .versus
                            | #[span.percent 0.5%] &nbsp;of women #[span.vs &nbsp;vs&nbsp;] #[span.percent 0.1%] &nbsp;of men

                //- .icon

            p(data-note-sup="").footnote
                sup &sect;
                | Data from an eating disorder&ndash;assessed subsample (n=2,980) of the National Comorbidity Survey Replication, a #[br]nationally representative face-to-face household survey of English-speaking adults aged &ge;18 years.#[sup 1]

    section.section--onset
        .wrap--content

            h1.heading--1.
                Onset of !{BED} occurs at a later median age (21 years) than bulimia nervosa (18 years) and anorexia nervosa (18 years)#[sup ||1]

            p(data-note-sup="").footnote.
                #[sup ||]Data from an eating disorder&ndash;assessed subsample (n=2,980) of the National Comorbidity Survey Replication, a #[br]nationally representative face-to-face household survey of English-speaking adults aged &ge;18 years.#[sup 1]

    section.section--groups
        .wrap--content

            h1.heading--1.
                In US adults, !{BED} is observed across racial and ethnic groups: Prevalence rates are comparable among non-Latino white (1.4%), Latino (2.1%), Asian (1.2%), and African American (1.5%) adults#[sup &para;5,6]

            h2.heading--2.
                Prevalence rates are also comparable between most industrialized countries (eg, Australia, Canada, many European countries, New Zealand, and the United States)#[sup 5]

            p(data-note-sup="").footnote.
                #[sup &para;]Sample from a combined data set of 3 nationally representative US samples.#[sup 6]

            .center
                a(href="#needurl").btn.btn--yellow
                    | HOW ADULTS WITH !{BED} MAY PRESENT

        .wrap--refs
            ol.refs.number
                li
                    | Hudson JI, Hiripi E, Pope HG Jr, Kessler RC. [Published correction appears in 
                    em Biol Psychiatry
                    | . 2012;72(2):164.] 
                    em Biol Psychiatry
                    | . 2007;61(3):348-358.
                li
                    | Kessler RC, Berglund PA, Chiu WT, et al. 
                    em Biol Psychiatry. 
                    | 2013;73(9):904-914.
                li.
                    Howden LM, Meyer JA. Age and sex composition: 2010. US Census Bureau; 2011.
                li.
                    Cossrow N, Russo LJ, Ming EE, et al. Poster presented at: APA 167th Annual Meeting; May 3-7, 2014; New York, NY.
                li
                    | American Psychiatric Association. Binge-eating disorder. In: 
                    em Diagnostic and Statistical Manual of Mental Disorders. 
                    | 5th ed. Arlington, VA: American Psychiatric Association;2013:350-353.
                li
                    | Marques L, Alegria M, Becker AE, et al. 
                    em Int J Eat Disord
                    | . 2011;44(5):412-420.
