---
title: "Functional Consequences of Binge Eating Disorder in Adults"
description: "Find info on binge eating disorder in adults, including diagnostic criteria, distinction from other eating disorders, prevalence, and possible causes."
keywords: ""
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    include /mixins/mediaelement.jade

    section.section--associated
        .wrap--content

            h1.heading--1
                | Binge eating disorder (!{BED}) is associated with a #[br]range of functional consequences#[sup 1]

            ul.square.line
                li
                    span
                        | Problems with adapting to social roles
                li
                    span
                        | Quality of life and life satisfaction degradation due to health issues
                li
                    span
                        | Heightened medical mortality and morbidity
                li
                    span
                        | Heightened use of health care resources compared to BMI-matched controls
                li
                    span
                        | Potential for weight gain that could lead to obesity

    section.section--association.light
        .wrap--content

            h2.heading--2.
                !{BED} association with impairment in role functioning in #[br.hide--sm]adults (Sheehan Disability Scale)*#[sup 2]

            .charts
                .chart.sixty-three
                    .num.
                        &asymp;63%
                    .text
                        | reported functional 
                        | impairment during the 
                        | past year
                .chart.nineteen
                    .num.
                        &asymp;19%
                    .text
                        | reported 
                        em.bold severe 
                        | functional 
                        | impairment during the 
                        | past year

            h3.heading--3.
                The Sheehan Disability Scales were administered to assess the severity of #[br.desktop-break]
                recent episodes of disordered eating.

        p(data-note="").footnote.
            *Data are from an eating disorder&ndash;assessed subsample (n=2,980) of the National Comorbidity Survey Replication, #[br]a nationally representative face-to-face household survey of English-speaking adults aged &ge;18 years.#[sup 2]

    section.section--living(ng-controller="AudioController as AudioCtrl")
        .wrap--content

            h1.heading--1.
                Living with !{BED}: One adult's experiences

            h2.heading--2.
                Excerpts from an interview with Sunny Sea Gold

            .sunny(alt="Adult patient with B.E.D.").hide--lg.hide--md

            .mobile-excerpt-wrapper

                .excerpt.one

                    blockquote
                        p.
                            During a binge, I would often eat really, really fast. My binges would always happen when I was alone.
                    .listen
                        
                        p Listen to the extended excerpt
                        
                        //- the following is a placeholder
                        //- .audio-player.audio-1
                        +media-element-audio('audio-player audio-1', 'https://d2ly9zedmmzqz4.cloudfront.net/BED-S05501.mp3', false)

                .sunny(alt="Adult patient with B.E.D.").hide--md.hide--sm

                .excerpt.two

                    blockquote
                        p.
                            When I first realized there was something wrong, it was terrifying to admit that to anyone, even a professional.
                    .listen
                        
                        p Listen to the extended excerpt

                        //- the following is a placeholder
                        //- .audio-player.audio-2
                        +media-element-audio('audio-player audio-2', 'https://d2ly9zedmmzqz4.cloudfront.net/BED-S05502.mp3', false)

            //.bottom-pocket.hide--md.hide--sm

            .sunny(alt="Adult patient with B.E.D.").hide--lg.hide--sm


    section.section--button

        .wrap--content

            .center
                a(href="sign-up.aspx").btn.btn--yellow
                    | GET THE FULL !{DSM5} #[br.mobile-break]
                    | !{BED} CRITERIA

        .wrap--refs
            ol.refs.number
                li.
                    American Psychiatric Association. Binge-eating disorder. In: #[em Diagnostic and Statistical Manual of Mental Disorders]. 5th ed. Arlington, VA: American Psychiatric Association; 2013:350-353.
                li.
                    Hudson JI, Hiripi E, Pope HG Jr, Kessler RC. [Published correction appears in #[em Biol Psychiatry]. 2012;72(2):164.] #[em Biol Psychiatry]. 2007;61(3):348-358.
