---
title: "Potential Causes of Binge Eating Disorder in Adults"
description: "Find info on binge eating disorder in adults, including diagnostic criteria, distinction from other eating disorders, prevalence, and possible causes."
keywords: ""
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    section.section--theories
        .wrap--content

            h2.heading--2.top.
                While the exact cause of binge eating disorder (B.E.D.) is unknown,

            h1.heading--1
                | Research suggests B.E.D. may have a neurobiological basis 
                br.phoneStyle
                | with genetic and environmental risk factors

            h2.heading--2.mobileContspace
                | Prevailing theories that may support a neurobiological basis for !{BED}:

            .row.brain

                .icon.is--vc

                h4.heading--4.mobileHeading--4.distinguishfooter
                    | Reward center and impulsivity dysregulation theory
                    sup 1-4 
                p.mobileP--1
                    | Adults with !{BED} have shown reduced activity in impulse control&ndash;related regions of the brain#[sup 1]

            .row.neuron

                .icon.is--nd

                h4.heading--4.mobileHeading--5.distinguishfooter
                    | Neurotransmitter dysregulation theory
                    sup 5-7
                p.mobileP--2
                    | Dopamine signaling converts sensory stimuli into processes that may generate or enhance &ldquo;wanting&rdquo; of a particular food
                    sup 5,8,9

            .row.neuron-closeup

                .icon.is--vc

                h4.heading--4.mobileHeading--6.distinguishfooter
                    | Endogenous &micro;-opioid signaling dysfunction theory
                    sup 5,10,11
                
                ul.square
                    li.listStyle.limitwidth
                        span
                            | &#956;-Opioid receptor polymorphisms are more often found #[br.desktop-break]
                            | in adults with !{BED}
                            sup 5
                    li.listStyle
                        span
                            | Opioid receptor involvement in reward processing has been demonstrated primarily from animal studies
                            sup 10,11
                //p
                //    | Opioid signaling converts sensory stimuli into processes that generate or enhance &ldquo;liking&rdquo; of a particular food
                //    sup 8,9

    section.section--factors
        .wrap--content

            h2.heading--2.mobileTitle.
                Research suggests risk factors for !{BED} may include:

            .row.dna

                .icon.is--vc

                h4.heading--4.distinguishfooter Genetic influences
                    sup 5,12,13

                ul.square
                    li.listStyle
                        | !{BED} appears to run in families, which may reflect additive genetic influences
                        sup 12
                    li.listStyle
                        | Genetic differences in neurobiological components of the brain's reward center have been observed
                        sup 5,13

            .row.people

                .icon.is--vc

                h4.heading--4.mobileHeading--7.distinguishfooter Environmental and social influences
                    sup 14,15

                ul.square
                    li.listStyle
                        | In a case-controlled retrospective assessment of 162 women with !{BED}, stressful life events were reported more frequently in the year preceding !{BED} onset than in non-!{BED} controls
                        sup 14
                    li.listStyle
                        | In a nationally representative survey of 5,702 adults, of the men (n=30) and women (n=75) who reported having !{BED}, 98% and 90%, respectively, reported experiencing some form of trauma*
                        sup 15

            p(data-note="").footnote
                | *Exposure to events such as combat, life-threatening accidents, a major disaster, or physical or sexual assault.
                sup 15

            .center
                a(href="sign-up.aspx").btn.btn--yellow
                    | GET THE FULL !{DSM5} !{BED} DIAGNOSTIC CRITERIA

        .wrap--refs
            ol.refs.number

                li Balodis IM, Molina ND, Kober H, et al. 
                    em Obesity (Silver Spring). 
                    | 2013;21(2):367-377.
                li Sch&auml;fer A, Vaitl D, Schienle A. 
                    em Neuroimage. 
                    | 2010;50(2):639-643.
                li Woolley JD, Gorno-Tempini ML, Seeley WW, et al. 
                    em Neurology. 
                    | 2007;69(14):1424-1433.
                li Schienle A, Sch&auml;fer A, Hermann A, Vaitl D. 
                    em Biol Psychiatry. 
                    | 2009;65(8):654-661.
                li Davis CA, Levitan RD, Reid C, et al. 
                    em Obesity (Silver Spring). 
                    | 2009;17(6):1220-1225.
                li Wang GJ, Geliebter A, Volkow ND, et al. 
                    em Obesity (Silver Spring). 
                    | 2011;19(8):1601-1608.
                li Levitan RD, Masellis M, Basile VS, et al. 
                    em Biol Psychiatry. 
                    | 2004;56(9):665-669.
                li Berridge KC, Kringelback ML. 
                    em Curr Opin Neurobiol. 
                    | 2013;23(3):294-303.
                li Wyvell CL, Berridge KC. 
                    em J Neurosci. 
                    | 2000;20(21):8122-8130.
                li Naleid AM, Grace MK, Chimukangara M, Billington CJ, Levine AS. 
                    em Am J Physiol Regul Integr Comp Physiol. 
                    | 2007;293(1):R99-R105.
                li Boggiano MM, Chandler PC, Viana JB, Oswald KD, Maldonado CR, Wauford PK. 
                    em Behav Neurosci. 
                    | 2005;119(5):1207-1214.
                li American Psychiatric Association. Binge-eating disorder. In: 
                    em Diagnostic and Statistical Manual of Mental Disorders. 
                    | 5th ed. Arlington, VA: American Psychiatric Association; 2013:350-353.
                li Davis C, Levitan RD, Yilmaz Z, Kaplan AS, Carter JC, Kennedy JL. 
                    em Prog Neuropsychopharmacol Biol Psychiatry. 
                    | 2012;38(2):328-335.
                li Pike KM, Wilfley D, Hilbert A, Fairburn CG, Dohm FA, Striegel-Moore RH. 
                    em Psychiatry Res. 
                    | 2006;142(1):19-29.
                li Mitchell KS, Mazzeo SE, Schlesinger MR, Brewerton TD, Smith BN. 
                    em Int J Eat Disord. 
                    | 2012;45(3):307-315. 

                //- li.
                //-     Balodis IM, Molina ND, Kober H, et al. Obesity (Silver Spring). 2013;21(2):367-377.
                //- li.
                //-     Schäfer A, Vaitl D, Schienle A. Neuroimage. 2010;50(2):639-643.
                //- li.
                //-     Woolley JD, Gorno-Tempini ML, Seeley WW, et al. Neurology. 2007;69(14):1424-1433.
                //- li.
                //-     Schienle A, Schäfer A, Hermann A, Vaitl D. Biol Psychiatry. 2009;65(8):654-661.
                //- li.
                //-     Davis C, Levitan RD, Yilmaz Z, Kaplan AS, Carter JC, Kennedy JL. Prog Neuropsychopharmacol Biol Psychiatry. 2012;38(2):328-335.
                //- li.
                //-     Wang GJ, Geliebter A, Volkow ND, et al. Obesity (Silver Spring). 2011;19(8):1601-1608.
                //- li.
                //-     Levitan RD, Masellis M, Basile VS, et al. Biol Psychiatry. 2004;56(9):665-669.
                //- li.
                //-     Davis CA, Levitan RD, Reid C, et al. Obesity (Silver Spring). 2009;17(6):1220-1225.
                //- li.
                //-     Naleid AM, Grace MK, Chimukangara M, Billington CJ, Levine AS. Am J Physiol Regul Integr Comp Physiol. 2007;293(1):R99-R105.
                //- li.
                //-     Boggiano MM, Chandler PC, Viana JB, Oswald KD, Maldonado CR, Wauford PK. Behav Neurosci. 2005;119(5):1207-1214.
                //- li.
                //-     Blasio A, Steardo L, Sabino V, Cottone P. Addict Biol. 2014;19(4):652-662.
                //- li.
                //-     American Psychiatric Association. Binge-eating disorder. In: Diagnostic and Statistical Manual of Mental Disorders. 5th ed. Arlington, VA: American Psychiatric Association; 2013:350-353.
                //- li.
                //-     Pike KM, Wilfley D, Hilbert A, Fairburn CG, Dohm FA, Striegel-Moore RH. Psychiatry Res. 2006;142(1):19-29. 14. Mitchell KS, Mazzeo SE, Schlesinger MR, Brewerton TD, Smith BN. Int J Eat Disord. 2012;45(3):307-315.
