---
title: "Helping Adults with Binge Eating Disorder"
description: ""
keywords: ""
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    .gradient
    #gradient-transition-bottom

    section.section--carousel(ng-controller="ProfilesController as ProfCtrl")
        .wrap--content

            .carousel
                .slides
                    .slide.kimberly(ng-class="{active: currentSlide == 'kimberly'}")

                        +picture('profiles/kimberly.png').hero
                        .mobile-hero
                        .shadow

                        blockquote
                            p.
                                I feel like I&rsquo;ve lost control while I&rsquo;m eating.


                        .profile
                            .name.
                                Kimberly
                            .binge.
                                Average of 4 binge-eating episodes per week
                            .text-line
                                .age.
                                    Age: 34
                                .bmi.
                                    Body mass index (BMI): 29
                            .text-line
                                .stat.
                                    Kimberly works as a high school librarian
                                .stat.
                                    She is single and lives alone
                                .stat
                                    | Kimberly&rsquo;s binges are usually the 
                                    br
                                    | result of boredom
                            p.disclaimer
                                | Diagnosis should be based on a complete evaluation of the patient that confirms the criteria for !{BED} established in !{DSM5}.
                                sup 1

                    .slide.nikki(ng-class="{active : currentSlide == 'nikki'}")

                        +picture('profiles/nikki.png').hero
                        .mobile-hero

                        blockquote
                            p.
                                I&rsquo;m disgusted with myself after I binge.

                        .profile
                            .name.
                                Nikki
                            .binge.
                                Average of 5 binge-eating episodes per week
                            .text-line
                                .age.
                                    Age: 27
                                .bmi.
                                    Body mass index (BMI): 28
                            .text-line
                                .stat.
                                    Nikki is a pediatric oncology nurse
                                .stat.
                                    Her binges are triggered by interpersonal stressors
                                .stat.
                                    Nikki is distressed by her bingeing behavior

                            p.disclaimer
                                | Diagnosis should be based on a complete evaluation of the patient that confirms the criteria for !{BED} established in !{DSM5}.
                                sup 1

                    .slide.julie(ng-class="{active : currentSlide == 'julie'}")

                        +picture('profiles/julie.png').hero
                        .mobile-hero

                        blockquote
                            p.
                                When the binges are over, I feel guilty about my behavior.

                        .profile
                            .name.
                                Julie
                            .binge.
                                Average of 6 binge-eating episodes per week
                            .text-line
                                .age.
                                    Age: 42
                                .bmi.
                                    Body mass index (BMI): 35
                            .text-line
                                .stat.
                                    Julie works as an advertising executive
                                .stat.
                                    Her binges are triggered by negative feelings about her body shape
                                .stat.
                                    Julie has a coexisting psychiatric disorder—she struggles with anxiety

                            p.disclaimer
                                | Diagnosis should be based on a complete evaluation of the patient that confirms the criteria for !{BED} established in !{DSM5}.
                                sup 1

                    .slide.diego(ng-class="{active : currentSlide == 'diego'}")

                        +picture('profiles/diego.png').hero
                        .mobile-hero
                        .shadow

                        blockquote
                            p
                                | I binge alone because I don&rsquo;t want anyone
                                br
                                span to know how much I eat.

                        .profile
                            .name.
                                Diego
                            .binge.
                                Average of 8 binge-eating episodes per week
                            .text-line
                                .age.
                                    Age: 30
                                .bmi.
                                    Body mass index (BMI): 32
                            .text-line
                                .stat.
                                    Diego works at night to support his family
                                .stat.
                                    Following his binges, Diego tends to feel depressed

                            p.disclaimer.
                                Diagnosis should be based on a complete evaluation of the patient that confirms the criteria for !{BED} established in !{DSM5}.#[sup 1]

                .controls
                    .prev(ng-click="clickControls('L')")
                    .next(ng-click="clickControls('R')")


                ul.pagination
                    li.kimberly(ng-click="changeHero('kimberly')")
                        | kimberly
                        span.liner
                    li.nikki(ng-click="changeHero('nikki')")
                        | nikki
                        span.liner
                    li.julie(ng-click="changeHero('julie')")
                        | julie
                        span.liner
                    li.diego(ng-click="changeHero('diego')")
                        | diego

            p.section-disclaimer-sm.
                Models and descriptions are fictional representations of how some adults with !{BED} may present and do not constitute the totality of !{BED} symptoms and criteria.

            .callouts
                .callout.one
                    h2.heading--2.
                        Screening the patient
                    p.
                        Use this validated screener to help evaluate adult patients you suspect may have !{BED}
                    a(href="#needurl").btn.btn--blue.
                        DOWNLOAD THE ADULT !{BED} PATIENT SCREENER
                .callout.two
                    h2.heading--2.
                        Conducting a conversation
                    p.
                        Use this discussion guide to help begin a dialogue about !{BED} with your adult patients.
                    a(href="#needurl").btn.btn--blue.
                        DOWNLOAD THE DISCUSSION GUIDE FOR ADULT PATIENTS WITH !{BED}

            p.section-disclaimer
                | These tools were developed by Shire to assist health care professionals in identifying and accurately diagnosing !{BED} in adults.

            .wrap--refs
                ol.refs.number
                    li
                        | American Psychiatric Association. Binge-eating disorder. In: 
                        em Diagnostic and Statistical Manual of Mental Disorders.
                        | 5th ed. Arlington, VA: American Psychiatric Association; 2013:350-353


