---
title: "Differential Diagnosis for Binge Eating Disorder in Adults"
description: ""
keywords: ""
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    section.section--bulimia
        .wrap--content

            h1.heading--1
                | Binge eating disorder (!{BED}) is different from bulimia nervosa

            h2.heading--2
                | !{BED} is not associated with compensatory behaviors like purging or excessive exercise, or with dietary restriction, though frequent dieting may be reported
                sup 1

    section.section--overeating
        .wrap--content

            h1.heading--1
                | !{BED} is different from overeating

            h2.heading--2
                | While overeating is a challenge for many Americans, recurrent binge eating is much less common, far more severe, and is associated with significant physical and psychological problems
                sup 2

    section.section--obesity
        .wrap--content

            h1.heading--1
                | !{BED} is different from obesity

            h2.heading--2
                //- | Although !{BED} can be associated with increased weight, it occurs in normal-weight, overweight, and obese adults
                | !{BED} can occur in normal-weight, overweight, and obese adults 
                sup *3

            h3.heading--3
                | Although !{BED} can be associated with increased weight, the majority of adults 
                br
                | with !{BED} are not obese: 55% are normal-weight or overweight, 45% are obese


            //- h1.heading--2
                | The majority of adults with !{BED} are not obese*
                sup 3
                | :

            .chart-wrap

                .chart

                .label.top.left
                    .num
                        | 19.0%
                    .clas
                        | are Normal-
                        br
                        | weight
                    .footnote
                        | Body mass index 
                        br
                        | (BMI) 18.5-24.9

                .label.top.right
                    .num
                        | 16.2%
                    .clas
                        | are Severely
                        br
                        | Obese
                    .footnote
                        | Body mass index
                        br
                        | (BMI) &ge;40

                .label.bottom.left
                    .num
                        | 35.7%
                    .clas
                        | are Overweight
                    .footnote
                        | Body mass index 
                        br
                        | (BMI) 25.0-29.9

                .label.bottom.right
                    .num
                        | 29.2%
                    .clas
                        | are Obese
                    .footnote
                        | Body mass index
                        br
                        | (BMI) 30.0-39.9

                p(data-note="").footnote.section-note
                    | *Data (based on Version 3.0 of the World Health Organization Composite International Diagnostic Interview and DSM-IV&reg; criteria) from an eating disorder&ndash;assessed subsample (n=2,980) of the National Comorbidity Survey Replication, a nationally representative face-to-face household survey of English-speaking adults aged &ge;18 years.
                    sup 3
            .mobile-line &nbsp;

    section.section--compared
        .wrap--content

            h1.heading--2.top
                | Compared with weight-matched obese adults without !{BED}, obese adults with !{BED} eat more calories in studies of how people eat and show
                sup 1
                | :

            ul.square.line
                li
                    | More functional impairment
                li
                    | Greater self-reported distress
                li
                    | Impaired quality of life
                li
                    | More coexisting psychiatric conditions

    section.section--coexisting
        .wrap--content
            //- .statistic-box

            h2.heading--2
                //- | At rates similar to those with bulimia and anorexia, adults with !{BED} may have coexisting psychiatric and physical conditions like bipolar disorders, depressive disorders, anxiety disorders, substance use disorders, and obesity
                | Adult patients with !{BED} often have coexisting comorbid disorders such as bipolar disorders, depressive disorders, anxiety disorders, and, to a lesser extent, substance use disorders
                sup 1

            h3.heading--3.center
                | As part of a complete evaluation, clinicians should consider these comorbid conditions that commonly occur in adults with !{BED} for differential diagnosis.

            h4.heading--2.center
                | Lifetime !{BED} in adults is associated with significant psychiatric comorbidity comparable to that of bulimia nervosa and anorexia nervosa
                sup &dagger;1,3

            .statistic-box
                .statistic.box1
                    .num
                        | &asymp;4 out of 5
                    .text
                        | had 
                        em at least one 
                        br
                        | comorbid psychiatric or 
                        br 
                        | substance use disorder

                .statistic.box2
                    .num
                        | Nearly Half
                    .text
                        | had 
                        em three or more 
                        br
                        | comorbid psychiatric or 
                        br 
                        | substance use disorders

            p(data-note="").footnote
                | &dagger;Data from a random subsample of respondents (n=1,139) from an eating disorder&ndash;assessed subsample of the National Comorbidity Survey Replication, a nationally representative face-to-face household survey of English-speaking adults aged &ge; 18 years.
                sup 3

    section.section--triggers
        .wrap--content

            h1.heading--1
                | Common triggers of binge eating 
                br
                | episodes (as noted in !{DSM5})
                sup 1

            h2.heading--2.bottom-bump.
                Negative affect most commonly precedes a bingeing episode.

            h3.heading--3.
                Other triggers include:

            ul.square.line
                li
                    h2.heading--2 Interpersonal stressors
                li
                    h2.heading--2 Dietary restraint
                li
                    h2.heading--2 Feeling bad about body weight, body shape, and food
                li
                    h2.heading--2 Feeling bored


            .center
                a(href="effects-of-BED.aspx").btn.btn--yellow
                    | POTENTIAL EFFECTS OF !{BED}

        .wrap--refs
            ol.refs.number
                li
                    | American Psychiatric Association. Binge-eating disorder. In: Diagnostic and Statistical Manual of Mental Disorders. 5th ed. Arlington, VA: American Psychiatric Association; 2013:350-353
                li
                    | American Psychiatric Association. DSM-5 Fact Sheet. Feeding and eating disorders. 
                    a(href="http://www.dsm5.org/documents/eating%20disorders%20fact%20sheet.pdf",target="_blank").url www.dsm5.org/documents/eating%20disorders%20fact%20sheet.pdf
                    | . Accessed May 8, 2015
                li
                    | Hudson JI, Hiripi E, Pope HG Jr, Kessler RC. [Published correction appears in Biol Psychiatry. 2012;72(2):164]. Biol Psychiatry. 2007;61(3):348-358.
