---
title: "Differential Diagnosis for Binge Eating Disorder in Adults"
description: ""
keywords: ""
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    section.section--bulimia
        .wrap--content

            h1.heading--1
                | Binge eating disorder (!{BED}) is different from bulimia nervosa

            h2.heading--2
                | !{BED} is not associated with compensatory behaviors like purging or excessive exercise, or with dietary restriction, though frequent dieting may be reported
                sup 1

    section.section--overeating
        .wrap--content

            h1.heading--1
                | !{BED} is different from overeating

            h2.heading--2
                | While overeating is a challenge for many Americans, recurrent binge eating is much less common, far more severe, and is associated with significant physical and psychological problems
                sup 2

    section.section--obesity
        .wrap--content

            h1.heading--1
                | !{BED} is different from obesity

            h2.heading--2
                | Although !{BED} can be associated with increased weight, it occurs in normal-weight, overweight, and obese adults
                sup 3


    section.section--majority
        .wrap--content

            h1.heading--2
                | The majority of adults with !{BED} are not obese*
                sup 3
                | :

            .chart-wrap

                .chart

                .label.top.left
                    .num
                        | 19.0%
                    .clas
                        | are Normal-
                        br
                        | weight
                    .footnote
                        | Body mass index 
                        br
                        | (BMI) 18.5-24.9

                .label.top.right
                    .num
                        | 16.2%
                    .clas
                        | are Very
                        br
                        | Severely Obese
                    .footnote
                        | Body mass index
                        br
                        | (BMI) &gt;40.0

                .label.bottom.left
                    .num
                        | 35.7%
                    .clas
                        | are Overweight
                    .footnote
                        | Body mass index 
                        br
                        | (BMI) 25.0-29.9

                .label.bottom.right
                    .num
                        | 29.2%
                    .clas
                        | are Moderately to
                        br
                        | Severely Obese
                    .footnote
                        | Body mass index
                        br
                        | (BMI) 30.0-39.9

    section.section--compared
        .wrap--content

            h1.heading--2
                | Compared with weight-matched obese adults without !{BED}, obese adults with !{BED} eat more calories in studies of how people eat and show
                sup 1
                | :

            ul.square.line
                li
                    | More functional impairment
                li
                    | Greater self-reported distress
                li
                    | Impaired quality of life
                li
                    | More coexisting psychiatric conditions

            .statistic-box

                h2.heading--2
                    | At rates similar to those with bulimia and anorexia, adults with !{BED} may have coexisting psychiatric and physical conditions like bipolar disorders, depressive disorders, anxiety disorders, substance use disorders, and obesity
                    sup 1

                h4.heading--2
                    | Lifetime psychiatric comorbidity associated with !{BED}*
                    sup 3


                .statistic
                    .num
                        | 79%
                    .text
                        | met criteria for 
                        em at least one 
                        | other psychiatric disorder

                .statistic
                    .num
                        | 49%
                    .text
                        | met criteria for 
                        em three or more 
                        | other psychiatric disorders

            p(data-note="*").footnote
                | Data (based on Version 3.0 of the World Health Organization Composite International Diagnostic Interview and DSM-IV&reg; criteria) from an eating disorder–assessed subsample (n=2,980) of the National Comorbidity Survey Replication, a nationally representative face-to-face household survey of English-speaking adults aged ≥18 years.
                sup 3

            .center
                a(href="/hcp/potential-causes.aspx").btn.btn--yellow
                    | POTENTIAL EFFECTS OF !{BED}

        .wrap--refs
            ol.refs.number
                li
                    | American Psychiatric Association. Binge-eating disorder. In: Diagnostic and Statistical Manual of Mental Disorders. 5th ed. Arlington, VA: American Psychiatric Association; 2013:350-353
                li
                    | American Psychiatric Association. DSM-5 Fact Sheet. Feeding and eating disorders. 
                    span.url http://www.dsm5.org/documents/eating%20disorders%20fact%20sheet.pdf
                    | . Accessed May 8, 2015
                li
                    | Hudson JI, Hiripi E, Pope HG Jr, Kessler RC. [Published correction appears in Biol Psychiatry. 2012;72(2):164]. Biol Psychiatry. 2007;61(3):348-358.
