---
title: "More Information on Binge Eating Disorder in Adults"
description: "Find info on binge eating disorder in adults, including diagnostic criteria, distinction from other eating disorders, prevalence, and possible causes."
keywords: ""
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    div(ng-controller="ResourcesController as ResCtrl")

        section.section--video-player-title
            .wrap--content

                h1.heading--1.
                    VIDEOS: Experts discuss !{BED} in adults

        section.section--video-player
            .wrap--content

                video(
                    id='videoPlayer'
                    controls='controls',
                    reload='none')

                    source(
                        type='video/mp4',
                        ng-src='{{currentVideo}}')

        section.section--video-boxes
            .wrap--content

                .tabs
                    .tab(ng-repeat="tab in tabbedVideos", ng-click="changeTab($index+1)", ng-class="{ active: tab.tabclass === currentTab }", class="{{tab.tabclass}}") {{tab.tabtitle}}



                .mobile-dropdown(ng-click="toggleMobileDropdown()")
                    .option(ng-repeat="tab in tabbedVideos", ng-click="changeTabMobile($index+1, $event)", ng-class="{ active: tab.tabclass === currentTab, open: mdOpen }", class="{{tab.tabclass}}") {{tab.tabtitle}}

                        .sprite--arrow-gray.arrow(ng-class="{ visible: tab.tabclass !== currentTab }")

                        .sprite--arrow-yellow.arrow(ng-class="{ visible: tab.tabclass === currentTab }")


 
                .boxes
                    .boxes-tab(ng-repeat="tab in tabbedVideos",class="{{tab.tabclass}}", ng-class="{ active: tab.tabclass === currentTab}")
                        .boxes-row(ng-switch on="$index % 3")
                            .box(ng-repeat="vid in tab.videos" ng-click="updateVideo(vid.id)", ng-class="{ playing: vid.id === currentVideo}")
                                .yellow {{vid.title}}
                                .video-length {{vid.length}}
                                .play-btn
                                .subtitle {{vid.featuring.length > 0 ? "Featuring " : ""}}{{vid.featuring}}
                                .new(ng-show="vid.newFrom")
                                .viewed(ng-show="vid.viewed") 
                        .consult-disclaimer {{tab.disclaimer}}
                            a.anchor(id="downloads", name="downloads")
                            //- this is horrible placement for the anchor link but i can't find a fix without hard-coding the height

    section.section--shire-resources
        .wrap--content
            .box-wrap
                h2.heading--1.
                    Downloadable Resources from Shire
                
                .split-box.sb-1
                    h2.heading--2.
                        A validated screener that can help in evaluating adult patients you suspect may have !{BED}
                    a(href="media/BingeEatingDisorder_Screener.pdf",target="_blank").btn.btn--yellow.
                        DOWNLOAD THE ADULT #[br.mobile-break]
                        !{BED} PATIENT SCREENER

                .split-box.sb-2
                    h2.heading--2.
                        A discussion guide to help you begin a dialogue about !{BED} with your adult patients
                    a(href="media/BingeEatingDisorderDiscussionGuide.pdf",target="_blank").btn.btn--yellow.
                        DOWNLOAD THE DISCUSSION GUIDE FOR ADULT PATIENTS WITH !{BED}

    section.section--information
        .wrap--content
            h2.heading--1.
                If you or your adult patients would like more information about !{BED}, these organizations may be able to help:

            .link-box-grid.hide--md
                .link-box-row
                    .link-box
                        | Alliance for Eating Disorders Awareness
                        br
                        a(href="http://www.allianceforeatingdisorders.com",target="_blank").yellow.
                            www.allianceforeatingdisorders.com
                        br
                        span.yellow 
                            a(href="tel:+18666621235") 1-866-662-1235
                    .link-box
                        | American Psychiatric Association
                        br
                        a(href="http://www.psychiatry.org",target="_blank").yellow.
                            www.psychiatry.org
                        br
                        span.yellow
                            a(href="tel:+18883577924") 1-888-357-7924
                    .link-box
                        | American Psychological Association
                        br
                        a(href="http://www.apa.org",target="_blank").yellow.
                            www.apa.org
                        br
                        span.yellow
                            a(href="tel:+18003742721") 1-800-374-2721
                .link-box-row
                    .link-box
                        | Binge Eating Disorder Association
                        br
                        a(href="http://www.bedaonline.com",target="_blank").yellow.
                            bedaonline.com
                        br
                        span.yellow 
                            a(href="tel:+18558552332") 1-855-855-2332
                    .link-box
                        | National Alliance for Mental Illness
                        br
                        a(href="http://www.nami.org",target="_blank").yellow.
                            www.nami.org
                        br
                        span.yellow
                            a(href="tel:+18009506264") 1-800-950-6264        
                    .link-box
                        | National Eating Disorders Association
                        br
                        a(href="http://www.nationaleatingdisorders.org",target="_blank").yellow.
                            www.nationaleatingdisorders.org
                        br
                        span.yellow 
                            a(href="tel:+18009312237") 1-800-931-2237

            .link-boxes-tablet.show--md.hide--lg.hide--sm
                .link-box
                    | Alliance for Eating Disorders Awareness
                    br
                    a(href="http://www.allianceforeatingdisorders.com",target="_blank").yellow.
                        www.allianceforeatingdisorders.com
                    br
                    span.yellow 
                        a(href="tel:+18666621235") 1-866-662-1235
                .link-box
                    | American Psychiatric Association
                    br
                    a(href="http://www.psychiatry.org",target="_blank").yellow.
                        www.psychiatry.org
                    br
                    span.yellow
                        a(href="tel:+18883577924") 1-888-357-7924
                .link-box
                    | American Psychological Association
                    br
                    a(href="http://www.apa.org",target="_blank").yellow.
                        www.apa.org
                    br
                    span.yellow
                        a(href="tel:+18003742721") 1-800-374-2721

                .link-box
                    | Binge Eating Disorder Association
                    br
                    a(href="http://www.bedaonline.com",target="_blank").yellow.
                        bedaonline.com
                    br
                    span.yellow 
                        a(href="tel:+18558552332") 1-855-855-2332
                .link-box
                    | National Alliance for Mental Illness
                    br
                    a(href="http://www.nami.org",target="_blank").yellow.
                        www.nami.org
                    br
                    span.yellow
                        a(href="tel:+18009506264") 1-800-950-6264        
                .link-box
                    | National Eating Disorders Association
                    br
                    a(href="http://www.nationaleatingdisorders.org",target="_blank").yellow.
                        www.nationaleatingdisorders.org
                    br
                    span.yellow 
                        a(href="tel:+18009312237") 1-800-931-2237
