header.header--global

    .title-bar
        .wrap--content

            a(href="/hcp/index.aspx").title.
                Binge eating disorder in adults

            .hcp.
                This site is intended for US health care professionals only.

            a(href="/hcp/sign-up.aspx").signup.
                Get the full !{DSM5} !{BED} criteria

            .menu-tile

    .primary-nav
        .wrap--content
            nav
                ul
                    li
                        a(href="/hcp/dsm5-criteria.aspx").
                            !{DSM5} Criteria
                    li
                        a(href="/hcp/recognizing-BED.aspx").
                            Recognizing !{BED}
                    li
                        a(href="/hcp/potential-causes.aspx").
                            Potential Causes
                    li
                        a(href="/hcp/patient-statistics.aspx").
                            Patient Statistics
                    li
                        a(href="/hcp/effects-of-BED.aspx").
                            Effects of !{BED}
                    li
                        a(href="/hcp/identifying-patients.aspx").
                            Identifying Patients
                    li
                        a(href="/hcp/support-and-resources.aspx").
                            Support &amp; Resources
