header.header--global

    .title-bar
        .wrap--content

            a(href="/hcp/index.aspx").title.
                Binge eating disorder in adults

            .hcp.
                This site is intended for US health care professionals only.

            +a-active(href="/hcp/sign-up.aspx").signup.hide--md.hide--sm
                | Get the full !{DSM5} !{BED} criteria

            .menu-tile.hide--lg

            .menu-btn(mobile-nav="").hide--lg
                .line
                .line
                .line
                .line

    .primary-nav
        .wrap--content
            nav
                ul
                    li.hide--lg
                        +a-active(href="/hcp/index.aspx")
                            | Home
                    li
                        +a-active(href="/hcp/dsm5-criteria.aspx")
                            | !{DSM5} Criteria
                    li
                        +a-active(href="/hcp/recognizing-BED.aspx")
                            | Recognizing !{BED}
                    li
                        +a-active(href="/hcp/potential-causes.aspx")
                            | Potential Causes
                    li
                        +a-active(href="/hcp/patient-demographics.aspx")
                            | Patient Demographics
                    li
                        +a-active(href="/hcp/potential-effects.aspx")
                            | Potential Effects
                    li
                        +a-active-related(href="/hcp/patient-profiles.aspx", alt="/hcp/profiles.aspx")
                            | Patient Profiles
                    li
                        +a-active(href="/hcp/support-and-resources.aspx")
                            | Support &amp; Resources
                    li.hide--lg
                        +a-active(href="/hcp/sign-up.aspx")
                            | Get the full !{DSM5} #[br]!{BED} criteria

           
